<header
  class="fixed top-0 px-8 py-4 z-20 w-screen text-slate-100 transition-colors transparent-header"
  id="header"
>
  <div class="mx-auto container flex justify-between items-center">
    <h1 class="font-bold text-2xl"><a routerLink="/">Meu aplicativo</a></h1>
    <nav class="flex gap-4" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="hover:underline">Login</a>
    </nav>


    <div class="relative" *ngIf="isLoggedIn">
      <button type="button" (click)="toggleMenu()"
              class="leading-none rounded w-7 h-7 flex items-center justify-center transition-all hover:shadow-lg"
      >
        <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
        <mat-icon *ngIf="isMenuOpen">close</mat-icon>
      </button>
      <nav *ngIf="isMenuOpen"
           class="px-4 py-2 shadow absolute top-9 right-0 z-30 bg-slate-50 flex flex-col items-start text-slate-900 divide-y w-max">
        <button (click)="handleLogout()" class="nav-link">Logout</button>
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <button (click)="paymentService.goToBillingPortal()" class="nav-link text-left">Gerenciar conta</button>
      </nav>
    </div>
  </div>
</header>
