<button (click)="toggleMenu()"
        class="bg-blue-950 text-slate-50 flex items-center justify-center absolute top-0 left-0 right-0 z-10">
  <mat-icon *ngIf="!isMenuOpen">expand_more</mat-icon>
  <mat-icon *ngIf="isMenuOpen">expand_less</mat-icon>
</button>
<div
  class="z-[9] absolute bg-slate-100 inset-0 pt-12 px-6 pb-6 transition-transform flex flex-col gap-4"
  [ngClass]="{
  'closed': !isMenuOpen
}">
  <label for="search-workplace"
         class="group relative
           bg-slate-50 rounded-md border-2 p-4 flex gap-2
           hover:border-blue-950
           border-slate-400
           transition-colors"
  >
    <mat-icon class="group-hover:text-blue-950 text-slate-400 transition-colors">search</mat-icon>
    <input
      id="search-workplace"
      type="text"
      placeholder="Procure um paciente..."
      class="flex-1 bg-transparent border-b-2 outline-0 border-slate-400 hover:border-blue-950 focus:border-blue-950 transition-colors"
      [formControl]="searchFormControl"
    >
  </label>

  <button
    *ngIf="user?.isPaymentActive"
    (click)="createPatient()"
    class="
      flex items-center gap-2 justify-center bg-slate-200 w-full rounded p-4 leading-none transition-colors
      hover:bg-blue-950 hover:text-slate-50
    "
  >
    <mat-icon>add</mat-icon>
    <span>Adicionar paciente</span>
  </button>

  <ul class="flex flex-col gap-4 overflow-auto flex-1 patient-summary-list">
    <li *ngFor="let patient of patientSummaries">
      <app-patient-card
        [patientSummary]="patient"
        [isOpen]="isMenuOpen"
      ></app-patient-card>
    </li>
  </ul>

  <app-page-controller
    *ngIf="patientSummaries?.length !== 0"
    [currentPage]="paginationData.page"
    [lastPage]="paginationData.lastPage"
    [controllerSize]="paginationData.maxPages" (onNextPage)="onNextPage.emit()"
    (onPreviousPage)="onPreviousPage.emit()"
    (onSpecificPage)="onSpecificPage.emit($event)"
  ></app-page-controller>
</div>
