.closed {
  transform: translateY(-100%);
}

.patient-summary-list::-webkit-scrollbar {
  width: 4px;
}

.patient-summary-list::-webkit-scrollbar-track {
  background: transparent;
}

.patient-summary-list::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
}
