<section class="pt-8 px-12 bg-slate-50 flex flex-col gap-4 items-center relative max-h-[70vh]">
  <button (click)="close()"
          class="outline-0 absolute top-2 right-2 leading-none text-sm hover:text-red-500 transition-colors">
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="text-2xl font-bold text-center">Adicionar paciente</h2>
  <p>Preencha todos os campos para cadastrar um novo paciente</p>
  <form class="flex flex-col gap-4 w-full" [formGroup]="createPatientForm" (submit)="submitForm()">
    <div class="flex gap-2 flex-wrap">
      <label for="name" class="flex flex-1 gap-2 flex-col">
        <span class="text-sm">Primeiro nome</span>
        <input
          formControlName="name"
          id="name"
          name="name"
          placeholder="João"
          class="input-primary"
        >
        <small *ngIf="createPatientForm.get('name')?.touched && createPatientForm.get('name')?.getError('required')"
               class="error">
          Este campo é obrigatório.
        </small>
      </label>
      <label for="surname" class="flex flex-1 gap-2 flex-col">
        <span class="text-sm">Sobrenome</span>
        <input
          formControlName="surname"
          id="surname"
          name="surname"
          placeholder="Silva"
          class="input-primary"
        >
        <small *ngIf="createPatientForm.get('surname')?.touched && createPatientForm.get('surname')?.getError('required')"
               class="error">
          Este campo é obrigatório.
        </small>
      </label>
    </div>
    <div class="flex gap-2 flex-wrap">
      <label for="gender" class="flex flex-1 gap-2 flex-col">
        <span class="text-sm">Sexo</span>
        <select
          formControlName="gender"
          id="gender"
          name="gender"
          class="input-primary-select"
        >
          <option [value]="null" disabled>Selecionar sexo</option>
          <option value="MALE">Masculino</option>
          <option value="FEMALE">Feminino</option>
          <option value="NOT_SPECIFIED">Prefiro não informar</option>
        </select>
        <small *ngIf="createPatientForm.get('gender')?.touched && createPatientForm.get('gender')?.getError('required')"
               class="error">
          Este campo é obrigatório.
        </small>
      </label>
      <label for="dateOfBirth" class="flex flex-1 gap-2 flex-col">
        <span class="text-sm">Data de nascimento</span>
        <input
          formControlName="dateOfBirth"
          id="dateOfBirth"
          name="dateOfBirth"
          class="input-primary-date"
          type="date"
          placeholder="dd/mm/aaaa"
        >
        <small *ngIf="createPatientForm.get('dateOfBirth')?.touched && createPatientForm.get('dateOfBirth')?.getError('required')"
               class="error">
          Este campo é obrigatório.
        </small>
      </label>
    </div>
    <label for="rg" class="flex gap-2 flex-col">
      <span class="text-sm">RG</span>
      <input
        formControlName="rg"
        id="rg"
        name="rg"
        placeholder="Ex: 12.345.678-9"
        class="input-primary"
      >
      <small *ngIf="createPatientForm.get('rg')?.touched && createPatientForm.get('rg')?.getError('required')"
             class="error">
        Este campo é obrigatório.
      </small>
      <small *ngIf="createPatientForm.get('rg')?.touched && createPatientForm.get('rg')?.getError('pattern')"
             class="error">
        Formato inválido. Ex: 12.345.678-9
      </small>
      <small *ngIf="createPatientForm.get('rg')?.touched && createPatientForm.get('rg')?.getError('rg')"
             class="error">
        RG inválido.
      </small>
    </label>
    <label for="cpf" class="flex gap-2 flex-col">
      <span class="text-sm">CPF</span>
      <input
        formControlName="cpf"
        id="cpf"
        name="cpf"
        placeholder="Ex: 123.456.789-00"
        class="input-primary"
      >
      <small *ngIf="createPatientForm.get('cpf')?.touched && createPatientForm.get('cpf')?.getError('required')"
             class="error">
        Este campo é obrigatório.
      </small>
      <small *ngIf="createPatientForm.get('cpf')?.touched && createPatientForm.get('cpf')?.getError('pattern')"
             class="error">
        Formato inválido. Ex: 123.456.789-00
      </small>
      <small *ngIf="createPatientForm.get('cpf')?.touched && createPatientForm.get('cpf')?.getError('cpf')"
             class="error">
        CPF inválido.
      </small>
    </label>
    <label for="contactPhone" class="flex gap-2 flex-col">
      <span class="text-sm">Telefone</span>
      <input
        formControlName="contactPhone"
        id="contactPhone"
        name="contactPhone"
        placeholder="(11) 91234-5678"
        class="input-primary"
        (input)="handleFormatPhone($event)"
      >
      <small *ngIf="createPatientForm.get('contactPhone')?.touched && createPatientForm.get('contactPhone')?.getError('required')"
             class="error">
        Este campo é obrigatório.
      </small>
      <small *ngIf="createPatientForm.get('contactPhone')?.touched && createPatientForm.get('contactPhone')?.getError('pattern')"
             class="error">
        Formato inválido. Ex: (11) 91234-5678
      </small>
    </label>
    <button type="submit" class="bg-blue-950 p-2 text-slate-50 transition-colors hover:bg-blue-800 mb-8">Adicionar</button>
  </form>
</section>
