<header class="flex gap-4 flex-wrap justify-between">
  <h2 class="text-2xl">Histórico de presença</h2>
  <form class="flex gap-2" (submit)="handleFilterAttendances()">
    <select [(ngModel)]="selectedMemberId" name="names" id="names"
            class="px-2 py-1 border-2 bg-slate-50 border-gray-300 rounded hover:border-blue-800 transition-colors cursor-pointer">
      <option disabled [value]="0">Escolha um membro</option>
      <option [value]="null">Todos</option>
      <option *ngFor="let member of members" [value]="member.userId">{{ member.username }}</option>
    </select>
    <button type="submit"
            class="btn-secondary"
            [disabled]="selectedMemberId === 0"
    >Filtrar
    </button>
  </form>
</header>

<div class="overflow-x-auto mt-8">
  <table *ngIf="attendances.length > 0" class="table-auto w-full divide-y divide-slate-300">
    <thead class="bg-slate-100">
      <tr>
        <th class="text-left px-4 py-2">Nome</th>
        <th class="text-left px-4 py-2 hidden sm:table-cell">Entrada</th>
        <th class="text-left px-4 py-2 hidden sm:table-cell">Saída</th>
        <th class="text-left px-4 py-2">Duração</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attendance of attendances" class="border-b">
        <td class="px-4 py-2">
          {{ attendance.username }}
        </td>

        <td class="px-4 py-2 hidden sm:table-cell">
          {{ attendance.displayStart }}
        </td>

        <td class="px-4 py-2 hidden sm:table-cell">
          {{ attendance.displayEnd }}
        </td>

        <td class="px-4 py-2">
          {{ attendance.duration || '-' }}
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="attendances.length === 0" class="text-center py-4 text-gray-500">
    Não há nada para mostrar no histórico
  </div>
</div>


<ngx-spinner class="flex-1 relative" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<app-page-controller
  [currentPage]="paginationData.page"
  [lastPage]="paginationData.lastPage"
  [controllerSize]="paginationData.maxPages" (onNextPage)="handleNextPage()"
  (onPreviousPage)="handlePreviousPage()"
  (onSpecificPage)="handleSpecificPage($event)"
></app-page-controller>
