<section class="py-8 px-12 bg-slate-50 flex flex-col gap-4 items-center relative">
  <button (click)="close()"
          class="outline-0 absolute top-2 right-2 leading-none text-sm hover:text-red-500 transition-colors">
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="text-2xl font-bold text-center">Adicionar Colaborador</h2>
  <p class="text-center text-sm max-w-md">
    Caso o colaborador ainda não tenha uma conta, uma nova será criada e instruções de acesso serão
    enviadas para o email informado
  </p>
  <form class="flex flex-col gap-4 w-full" [formGroup]="addMemberForm" (submit)="submitForm()">
    <label for="email" class="flex flex-col">
      <span class="text-sm">Email</span>
      <input
        type="email"
        formControlName="email"
        id="email"
        name="email"
        placeholder="Email do colaborador"
        class="input-primary"
      >
      <small *ngIf="addMemberForm.get('email')?.touched && addMemberForm.get('email')?.getError('required')"
             class="error">
        Este campo é obrigatório.
      </small>
      <small *ngIf="addMemberForm.get('email')?.touched && addMemberForm.get('email')?.getError('email')"
             class="error">
        Insira um email válido.
      </small>
    </label>
    <label for="description" class="flex flex-col">
      <span class="text-sm">Descrição</span>
      <input
        type="text"
        formControlName="description"
        id="description"
        name="description"
        placeholder="Ex: enfermeira, fisioterapeuta, familiar..."
        class="input-primary"
      >
      <small *ngIf="addMemberForm.get('description')?.touched && addMemberForm.get('description')?.getError('required')"
             class="error">
        Este campo é obrigatório.
      </small>
    </label>
    <button type="submit" class="bg-blue-950 p-2 text-slate-50 transition-colors hover:bg-blue-800">Adicionar</button>
  </form>
</section>
