<button type="button"
        class="w-full rounded p-4 transition-colors
          hover:bg-blue-800 hover:text-slate-50
        "
        [ngClass]="{
        'bg-blue-800 text-slate-50': isSelected,
        'bg-slate-200 hover:bg-opacity-80': !isSelected
        }"
        (click)="selectPatient()"
>
  <span class="
    flex gap-2 items-center whitespace-nowrap flex-nowrap
    text-nowrap overflow-ellipsis overflow-hidden justify-start
  "
  >
    <mat-icon>person</mat-icon>
    <span>
      {{ isOpen ? patientSummary.name : abbreviatedName }}
    </span>
  </span>
</button>
