<section class="
  bg-opacity-80 w-screen pt-28 pb-16 px-8 flex justify-center align-center hero-banner
  relative after:content-[''] after:absolute after:inset-0 after:bg-slate-800 after:bg-opacity-60
">
  <div
    class="bg-slate-100 p-4 rounded-lg flex flex-col gap-6 justify-center items-center z-10">
    <h1 class="text-4xl font-bold text-center">Welcome to HealthApp!</h1>
    <p class="text-lg text-center max-w-lg">
      This is a premium app that provides excellent health solutions to enhance your well-being
    </p>
    <button
      class="px-4 py-2 flex items-center justify-center text-sm rounded-md text-slate-100 bg-green-600 transition-colors hover:text-slate-900">
      Cadastre-se
    </button>
  </div>
</section>
<section class="py-16 px-4 space-y-8 flex-1 container mx-auto">
  <h2 class="text-3xl font-bold text-center">Why Choose HealthApp?</h2>
  <div class="flex gap-8 flex-wrap">
    <div class="card">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">Feature 1</h3>
      </div>
      <div class="p-6">
        <p>
          This feature allows you to track your health metrics. It's really helpful for maintaining your overall
          health.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">Feature 2</h3>
      </div>
      <div class="p-6">
        <p>
          This feature is great for scheduling your exercise routines. It's designed to make your fitness
          journey efficient and enjoyable.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">Feature 3</h3>
      </div>
      <div class="p-6">
        <p>
          This feature enhances your ability to follow a balanced diet. It's perfect for achieving your
          nutrition goals.
        </p>
      </div>
    </div>
  </div>
</section>
