<div
  class="flex flex-col gap-6 py-8 px-12 bg-slate-50 rounded md:max-w-[50vw]">
  <button (click)="closeDialog()"
          class="outline-0 absolute top-2 right-2 leading-none text-sm hover:text-red-500 transition-colors">
    <mat-icon>close</mat-icon>
  </button>
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold">Que email você deseja usar ?</h2>
    <p>Esse e-mail será importante, pois ele será usado para acessar sua conta, e nele que você
      receberá informações
      de pagamento </p>
    <p class="text-sm text-red-500">Essa escolha não poderá ser alterada</p>
  </div>
  <form [formGroup]="checkoutForm" class="flex flex-col gap-2" (submit)="submitForm()">
    <label for="email" class="flex flex-col gap-0.5 w-full">
      <input id="email" type="email" name="email" formControlName="email" placeholder="exemplo@email.com"
             autocomplete="email"
             class="input-primary"
      />
      <small *ngIf="checkoutForm.get('email')?.touched && checkoutForm.get('email')?.getError('required')"
             class="error">
        Este campo é obrigatório
      </small>
      <small *ngIf="checkoutForm.get('email')?.touched && checkoutForm.get('email')?.getError('email')" class="error">
        Email inválido (ex: email&#64;email.com)
      </small>
    </label>
    <button type="submit"
            class="btn-primary"
            [disabled]="!checkoutForm.valid"
    >
      Confirmar
    </button>
  </form>
</div>
