<button type="button"
        class="w-full rounded p-4 transition-colors
          hover:bg-blue-950 hover:text-slate-50
        "
        [ngClass]="{
        'bg-blue-950 text-slate-50': isSelected,
        'bg-slate-200': !isSelected
        }"
        (click)="selectWorkspace()"
>
  <span class="flex gap-2 items-center whitespace-nowrap flex-nowrap text-nowrap overflow-ellipsis overflow-hidden"
        [ngClass]="{
  'justify-start': isOpen,
  'justify-center': !isOpen
  }">
    <mat-icon>person</mat-icon>
    <span>
      {{isOpen ? workspace.name : abbreviatedName}}
    </span>
  </span>
</button>
