@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  @apply px-6 py-2 rounded-lg bg-blue-800 text-slate-50 hover:shadow-md hover:shadow-slate-400
  transition-all disabled:opacity-70 disabled:hover:shadow-none disabled:cursor-not-allowed
}

.btn-primary.large {
  @apply py-4
}

.btn-secondary {
  @apply px-2 py-1 rounded bg-slate-300 hover:bg-blue-800 hover:text-slate-50
  disabled:cursor-not-allowed disabled:opacity-70 disabled:hover:bg-slate-300 disabled:hover:text-slate-900
  hover:shadow-md hover:shadow-slate-400 transition-all disabled:hover:shadow-none
}

.btn-warn {
  @apply px-4 py-1 rounded-lg bg-slate-300 hover:bg-red-600 hover:text-slate-50 hover:shadow-md hover:shadow-slate-400 transition-all disabled:hover:shadow-none
}

.input-primary {
  @apply border-2 border-gray-900 rounded px-2 py-2 transition-colors;

  &:not(:disabled):hover, &:focus {
    @apply border-blue-800 outline-0
  }
}

.error {
  @apply text-sm text-red-500 pl-2
}
