<div class="flex-1 w-screen mx-auto flex flex-col md:flex-row relative p-4">
  <app-desktop-dashboard-menu
    class="hidden md:block"
    [user]="user"
    [isMenuOpen]="isMenuOpen"
    [workspaces]="filteredWorkspaces"
    [paginationData]="menuPaginationData"
    [searchFormControl]="searchFormControl"
    (onToggleMenu)="toggleMenu()"
    (onCreateWorkspace)="createWorkspace()"
    (onNextPage)="fetchNextPage()"
    (onPreviousPage)="fetchPreviousPage()"
    (onSpecificPage)="fetchSpecificPage($event)"
  ></app-desktop-dashboard-menu>
  <app-mobile-dashboard-menu
    class="block md:hidden"
    [user]="user"
    [isMenuOpen]="isMenuOpen"
    [workspaces]="filteredWorkspaces"
    [paginationData]="menuPaginationData"
    [searchFormControl]="searchFormControl"
    (onToggleMenu)="toggleMenu()"
    (onCreateWorkspace)="createWorkspace()"
    (onNextPage)="fetchNextPage()"
    (onPreviousPage)="fetchPreviousPage()"
    (onSpecificPage)="fetchSpecificPage($event)"
  ></app-mobile-dashboard-menu>
  <main class="flex-1 flex flex-col">
    <app-workspace
      [user]="user"
    ></app-workspace>
  </main>
</div>
