<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
             [showSpinner]="isSubmittingProfileChanges || isGoingToBillingPortal">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>
<main class="flex-1 flex gap-6 md:gap-10 flex-wrap-reverse items-end container mx-auto p-8">
  <section class="p-4 bg-slate-200 rounded-lg shadow-xl w-full md:flex-[2] md:min-w-[30rem] h-fit">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-bold">Edite suas informações</h2>
      <button type="button"
              (click)="toggleEditingProfile()"
              class="hover:text-blue-800 transition-colors leading-none flex items-center justify-center">
        <mat-icon *ngIf="!isEditingProfile">edit_square</mat-icon>
        <mat-icon *ngIf="isEditingProfile">close</mat-icon>
      </button>
    </div>
    <form [formGroup]="editUserForm" class="flex flex-col divide-y divide-slate-300" (submit)="submitForm()">
      <label for="email" class="input-wrapper">
        <span>Email</span>
        <input class="input-primary" id="email" name="email" formControlName="email" type="email"
               placeholder="O seu email" autocomplete="email"
        />
        <small>Você usará esse email para entrar na aplicação e receber notificações referentes a pagamento</small>
        <small *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.getError('pattern')"
               class="error">
          Email inválido!
        </small>
      </label>
      <label for="username" class="input-wrapper">
        <span>Nome de usuário</span>
        <input id="username" type="text" name="username" formControlName="username"
               placeholder="Seu nome de usuário"
               autocomplete="username"
               class="input-primary"
        />
        <small>Esse será seu nome dentro da aplicação</small>
        <small *ngIf="editUserForm.get('username')?.touched && editUserForm.get('username')?.getError('minlength')"
               class="error">
          O nome de usuário deve ter pelo menos 5 caracteres.
        </small>
        <small *ngIf="editUserForm.get('username')?.touched && editUserForm.get('username')?.getError('pattern')"
               class="error">
          O nome de usuário não pode conter caracteres especias como #, &#64;, ! e acentos.
        </small>
      </label>
      <label for="password" class="input-wrapper">
        <span>Senha</span>
        <input id="password" type="password" name="password" formControlName="password"
               placeholder="Senha"
               autocomplete="password"
               class="input-primary"
        />
        <small>Essa será sua senha para acessar a aplicação de agora em diante</small>
        <small *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('required')"
               class="error">
          Este campo é obrigatório.
        </small>
        <small *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('minlength')"
               class="error">
          - Deve ter pelo menos 8 caracteres.
        </small>
        <small
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('hasUpperCase')"
          class="error">
          - Deve conter uma letra maiúscula
        </small>
        <small
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('hasLowerCase')"
          class="error">
          - Deve conter uma letra minúscula
        </small>
        <small
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('hasDigit')"
          class="error">
          - Deve conter um número
        </small>
        <small
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('hasSpecialChar')"
          class="error">
          - Deve conter um caractere especial (!, &#64; #, $, %, ^, &, *)
        </small>
        <small
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.getError('hasSpace')"
          class="error">
          - Não pode conter espaços
        </small>
      </label>
      <label for="confirmPassword" class="input-wrapper">
        <span>Confirme a senha</span>
        <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword"
               placeholder="Senha"
               autocomplete="confirmPassword"
               class="input-primary"
        />
        <small
          *ngIf="editUserForm.get('confirmPassword')?.touched && editUserForm.get('confirmPassword')?.getError('required')"
          class="error">
          Este campo é obrigatório.
        </small>
        <small
          *ngIf="editUserForm.get('confirmPassword')?.touched && editUserForm.get('confirmPassword')?.getError('mismatch')"
          class="error">
          As senhas não conferem.
        </small>
      </label>
      <button type="submit"
              *ngIf="isEditingProfile"
              class="btn-primary"
              [disabled]="isSubmittingProfileChanges"
      >
        <span *ngIf="!isSubmittingProfileChanges">Confirmar</span>
      </button>
    </form>
  </section>
  <section class="w-full md:flex-1 md:min-w-60">
    <button (click)="goToBillingPortal()"
            [disabled]="isGoingToBillingPortal"
            class="btn-primary large w-full flex justify-center"
            *ngIf="user.isPaymentActive"
    >
      <span class="flex items-center gap-2">
        <mat-icon>settings</mat-icon> Gerencie sua assinatura
      </span>
    </button>
    <button
      (click)="goToCheckout()"
      [disabled]="isGoingToBillingPortal"
      *ngIf="!user.isPaymentActive"
      class="btn-primary large w-full flex justify-center"
    >
      <span class="flex items-center gap-2">
        <mat-icon>shopping_bag</mat-icon> Faça um upgrade!
      </span>
    </button>
  </section>
</main>
